@model IEnumerable<StudentSystem_Model.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="d-flex justify-content-between align-items-center mb-0 p-3 rounded-top bg-body-secondary">
        <h2>Courses List</h2>
        <a class="btn btn-success" asp-action="Upsert">
            Create New Course
            <span class="badge text-bg-warning mx-1">@Model.Count()</span>
        </a>
    </div>
    @if (Model.Count() > 0)
    {
    <table class="table table-bordered table-striped text-center w-100">
        <thead>
            <tr>
                <th>#</th>
                <th>Course Name</th>
                <th>Credits</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.CourseId</td>
                    <td>@course.CourseName</td>
                    <td>@course.CoursePrice.ToString("C").Split(".")[0]</td>
                    <td class="d-flex justify-content-center gap-5">
                        <a class="btn btn-primary" asp-action="Upsert" asp-route-Id="@course.CourseId">Update</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-Id="@course.CourseId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
    else
    {
        <p>There Is No Available Courses</p>
    }
</body>
</html>