@model StudentSystem_Model.ViewModel.RegisterVm
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>
    <form asp-action="Register" method="post">
        <fieldset>
            <legend>Register</legend>
            <div class="form-group mb-3">
                <label asp-for="@Model.FirstName" class="control-label">First Name</label>
                <input asp-for="@Model.FirstName" class="form-control" />
                <span asp-validation-for="@Model.FirstName" class="text-danger fw-bold"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="@Model.LastName" class="control-label">Last Name</label>
                <input asp-for="@Model.LastName" class="form-control" />
                <span asp-validation-for="@Model.LastName" class="text-danger fw-bold"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="@Model.Email" class="control-label">Email</label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger fw-bold"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="@Model.Password" class="control-label">Password</label>
                <div class="input-group mb-3">
                    <input asp-for="@Model.Password" type="password" class="form-control pass-input" placeholder="Recipient’s username" aria-label="Recipient’s username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary show-pass" type="button">Show Password</button>
                </div>
                <span asp-validation-for="@Model.Password" class="text-danger fw-bold"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="@Model.ConfirmPassword" class="control-label">Confirm Password</label>
                <div class="input-group mb-3">
                    <input asp-for="@Model.ConfirmPassword" type="password" class="form-control pass-input" placeholder="Recipient’s username" aria-label="Recipient’s username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary show-pass" type="button">Show Password</button>
                </div>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger fw-bold"></span>
            </div>
            <button type="submit" class="btn btn-success">Create Account</button>
            <a asp-action="Login" class="btn btn-link">Already have an account? Login</a>
        </fieldset>
    </form>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        const password = document.querySelectorAll(".pass-input");
        const togglePassword = document.querySelectorAll(".show-pass");

        togglePassword.forEach((button, index) => {
            button.addEventListener("click", () => {
                const type = password[index].getAttribute("type") === "password" ? "text" : "password";
                password[index].setAttribute("type", type);
            });
        });
    </script>
</body>
</html>

